@import '../../../../../styles/common.scss';

.modal-image {
  @include flex(row);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.46);
  z-index: 999;
  .left {
    color: $color-white;
    position: relative;
    right: 20px;
    font-size: 40px;
    z-index: 900;
    opacity: 0.7;
  }
  .carousel-wrapper {
    width: 400px;
    height: 500px;
    overflow: hidden;

    .image-container {
      width: 400px;
      height: 500px;
      background-color: whitesmoke;
      display: flex;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    color: $color-white;
    left: 20px;
    font-size: 40px;
    position: relative;
    z-index: 900;
    opacity: 0.7;
  }

  .mark {
    position: relative;
    top: -215px;
    right: 100px;
    color: #fafafa;
    font-size: 30px;
  }
}
