@import '../../styles/common.scss';

  .main {
    padding-top: 100px;

    section {
      max-width: 1320px;
      margin: 0 auto;
      padding: 0 20px;  
    }

    footer {
      padding-bottom: 40px;
      background-color: #1c1d1f;

      .footer-count {
        padding: 20px 0;
        background-color: #101113;
        font-size: 1.3em;
        text-align: center;
        color: $color-white;

        span {
          font-weight: 700;
          color: $color-main;
        }
      }

      .footer-wrap {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        color: #848484;
        font-size: 0.8em;
        font-weight: 400;
        text-align: left;

        ul {
          @include flex(row, flex-start, center);
          padding: 20px 0;

          li:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }

          li:last-child:after {
            display: none;
          }
        }

        dl {
          @include flex(row, flex-start, center);

          dt {
            line-height: 20px;
          }

          dt:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }
        }
      }
    }
  }
