@import '../../styles/common.scss';

@media (min-width: 1101px) {
  .main {
    padding-top: 100px;

    section {
      max-width: 1320px;
      margin: 0 auto;
      padding: 0 20px;

      .ranking {
        padding-bottom: 70px;

        .ranking-title {
          padding: 20px 0;
          font-size: 1.5em;
          font-weight: 700;
        }

        .ranking-carousel {
          
          ul {
            @include flex(row, center, flex-start);
            max-width: 1320px;
            overflow: hidden;
  
            li {
              width: 30%;
              margin-left: 17px;
  
              img {
                width: 100%;
              }
  
              div {
                margin: 0 0 7px 0;
                font-size: 0.9em
              }
  
              div:first-of-type {
                font-size: 1em;
                font-weight: 700;
                margin: 10px 0;
              }
            }
  
            li:first-child {
              margin-left: 0;
            }
          }
        }

        
      }
    }

    footer {
      padding-bottom: 40px;
      background-color: #1c1d1f;

      .footer-count {
        padding: 20px 0;
        background-color: #101113;
        font-size: 1.3em;
        text-align: center;
        color: $color-white;

        span {
          font-weight: 700;
          color: $color-main;
        }
      }

      .footer-wrap {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        color: #848484;
        font-size: 0.8em;
        font-weight: 400;
        text-align: left;

        ul {
          @include flex(row, flex-start, center);
          padding: 20px 0;

          li:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }

          li:last-child:after {
            display: none;
          }
        }

        dl {
          @include flex(row, flex-start, center);

          dt {
            line-height: 20px;
          }

          dt:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }
        }
        

        
      }
    }


  }
}

@media (max-width: 1100px) {
  .main {
    padding-top: 100px;

    section {
      max-width: 1320px;
      margin: 0 auto;
      padding: 0 20px;

      .ranking {
        padding-bottom: 70px;

        .ranking-title {
          padding: 20px 0;
          font-size: 1.5em;
          font-weight: 700;
        }

        ul {
          @include flex(row, space-between, flex-start);
          max-width: 1320px;
          overflow: hidden;

          li {
            width: 30%;
            margin-left: 17px;

            img {
              width: 100%;
            }

            div {
              margin: 0 0 7px 0;
              font-size: 0.9em;
            }

            div:first-of-type {
              font-size: 1em;
              font-weight: 700;
              margin: 10px 0;
            }
          }

          li:first-child {
            margin-left: 0;
          }
        }
      }
    }

    footer {
      padding-bottom: 40px;
      background-color: #1c1d1f;

      .footer-count {
        padding: 20px 0;
        background-color: #101113;
        font-size: 1.3em;
        text-align: center;
        color: $color-white;

        span {
          font-weight: 700;
          color: $color-main;
        }
      }

      .footer-wrap {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        color: #848484;
        font-size: 0.8em;
        font-weight: 400;
        text-align: left;

        ul {
          @include flex(row, flex-start, center);
          padding: 20px 0;

          li:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }

          li:last-child:after {
            display: none;
          }
        }

        dl {
          @include flex(row, flex-start, center);

          dt {
            line-height: 20px;
          }

          dt:after {
            content:"";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 10px;
            background-color: #848484;
          }
        }
        

        
      }
    }


  }
}