@import '../../styles/common.scss';

.top-top {
  border-bottom: 1px solid lightgrey;
  color: $color-black;
  .top-backimg {
    position: relative;
    // height: 394px;
    .backimg-container {
      display: flex;
      flex-direction: row;
      .backimg-left {
        flex: 1 1 0%;
        background-color: rgb(24, 23, 20);
        // width: 440.5px;
      }
      .backimg {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: no-repeat center/100% url('../../assets/images/cafe1.jpg');
        width: 1024px;
        height: 464px;
        .backimg-shadow-left {
          width: 150px;
          background-image: linear-gradient(
            -90deg,
            rgba(24, 23, 20, 0) 0%,
            rgb(24, 23, 20) 100%
          );
        }
        .backimg-shadow-right {
          width: 150px;
          background-image: linear-gradient(
            90deg,
            rgba(34, 40, 39, 0) 0%,
            #222827 100%
          );
        }
        .backimg-wrap {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            -180deg,
            rgba(0, 0, 0, 0.35) 2%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.5) 100%
          );
        }
      }
      .backimg-right {
        flex: 1 1 0%;
        background-color: rgb(24, 23, 20);
        // width: 440.5px;
      }
    }
    .backinfo-container {
      @include flex(row);
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 34px;
      margin: 0 auto;
      .poster-info-container {
        position: relative;
        @include flex(row, flex-start);
        width: 960px;
        height: 100%;
        .poster-container {
          position: relative;
          top: 80px;
          right: 50px;
          margin-right: 15px;
          width: 220px;
          height: 220px;
          border: none;
          border-radius: 3px;
          .poster {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .top-info-container {
    @include flex(row);
    background-color: $color-white;
    // width: 100%;
    // height: auto;
    padding: 20px 16px 22px;
    .top-info {
      padding-left: 193px;
      width: 960px;
      @include flex(column, center, flex-start);
      .cafe-name {
        font-weight: 700;
        font-size: 33px;
      }
      .cafe-category {
        margin-top: 8px;
        font-size: 17px;
        color: grey;
      }
      .cafe-rate {
        font-size: 13px;
        margin-top: 16px;
        padding: 10px 0px 12px 3px;
        border-top: 1px solid lightgrey;
        line-height: 20px;
        width: 580px;
      }
    }
  }
}

.main-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  border: black 3px soild;
  margin-bottom: 60px;
  overflow: hidden;
}

.images-container {
  width: 200px;
  height: 300px;

  img {
    height: 100%;
    width: 100%;
  }
}

.image-content {
  position: relative;
  width: 1200px;
  height: 353px;

  ul {
    @include flex(row, space-between);
    max-width: 1320px;
    transition: 0.3s ease-in-out;
  }
}

.content {
  font-size: 19px;
  font-weight: 700;
  margin: 30px 0px;
}

.cafe-name {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0px;
}

.cafe-star {
  font-size: 16px;
  color: #faab4d;
}
.cog {
  color: gray;
  font-size: 30px;
  margin-left: 10px;
  position: relative;
  left: 5px;
}
.chevron {
  float: right;
  font-size: 25px;
}

.arrow {
  font-size: 30px;
  position: relative;
  left: 300px;
}

.circle-right {
  font-size: 40px;
  position: absolute;
  right: -95px;
  bottom: 180px;
  color: gray;
}

.circle-left {
  font-size: 40px;
  position: absolute;
  left: 0px;
  bottom: 180px;
  color: gray;
}
