
@import '../../../styles/common.scss';

.ranking {
  padding-bottom: 70px;

  .ranking-title {
    padding: 20px 0;
    font-size: 1.5em;
    font-weight: 700;
  }

  .ranking-carousel {
    max-width: 1320px;
    position: relative;
    overflow: hidden;

    ul {
      @include flex(row, flex-start, flex-start);
      width: 200%;
      transition: transform .5s ease-in-out;
    }

    .carousel-btn {
      position: absolute;
      top: 38%;
      transform : translate(0, -50%);
      font-size: 40px;
      cursor: pointer;
      color: $color-white;
      opacity: .7;
      transition: opacity .2s ease-in-out;
    }

    :hover {
      opacity: 1;
    }

    .left-btn {
      left: 0;
    }

    .right-btn {
      right: 0;
    }

    .btn-remove {
      display: none;
    }
  }
}