@import '../../../styles/common.scss';

.recommend-section {
  margin-top: 25px;
  height: 293px;
  border-bottom: 2px solid whitesmoke;

  .mid-container {
    @include flex(column, flex-start, flex-start);

    .gallery-head {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .gallery {
      @include flex(row, flex-start);

      .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, auto [col-start]);
        grid-template-rows: repeat(2, auto [row-start]);
        column-gap: 5px;
        row-gap: 5px;
        position: relative;
        width: 140px;
        height: 230px;
        margin-right: 10px;
        padding: 3px;
        background: #e5e5e5;
        border: 1px solid lightgrey;
        border-radius: 5px;

        .gallery-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        .coffee-info {
          @include flex(row);
          position: absolute;
          width: 100%;
          bottom: 10px;
          left: 0;
          font-size: 10px;
          color: white;
        }
        .black-wrap {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            -180deg,
            rgba(0, 0, 0, 0) 2%,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0.5) 100%
          );
        }
      }
    }
  }
}
