@import '../../../styles/common.scss';

.body-container {
  padding: 15px 0 48px 0;
  background-color: $color-bg;
  .media-query {
    .body-container {
      @include flex(row, center, flex-start);
      .main-info {
        background-color: white;
        width: 640px;
        // height: 1190px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 25px;
        overflow: hidden;
        .main-top {
          // width: 638px;
          // height: 165px;
          // background: pink;
          border-bottom: 2px solid whitesmoke;
          .about-cafe {
            background-color: white;
            @include flex(row, space-between);
            .cafe-jungbo {
              font-size: 20px;
            }
            .more-container {
              .more {
                color: $color-main;
                font-weight: 700;
              }
            }
          }
          .cafe-location {
            @include flex(column, center, flex-start);
            background: white;
            margin: 15px 0 30px 1px;
            font-size: 15px;
            .span-info {
              margin-top: 8px;
            }
          }
        }
        .main-mid {
          position: relative;
          margin-top: 25px;
          height: 293px;
          border-bottom: 2px solid whitesmoke;
          .mid-container {
            @include flex(column, flex-start, flex-start);
            overflow: hidden;
            .gallery-head {
              font-size: 20px;
              margin-bottom: 15px;
            }
            .gallery {
              @include flex(row, flex-start);
              &:hover > .go-left {
                opacity: 1;
              }
              &:hover > .go-right {
                opacity: 1;
              }
              .go-left {
                z-index: 1;
                position: absolute;
                top: 140px;
                left: 10px;
                font-size: 30px;
                opacity: 0;
              }
              .go-right {
                z-index: 1;
                position: absolute;
                top: 140px;
                right: 10px;
                font-size: 30px;
                opacity: 0;
              }
              .gallery-container {
                // background: magenta;
                position: relative;
                width: 158px;
                height: 230px;
                border: 1px solid lightgrey;
                margin-right: 20px;
                .gallery-image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                .coffee-info {
                  @include flex(row, space-between, flex-start);
                  width: 140px;
                  position: absolute;
                  bottom: 10px;
                  left: 10px;
                  font-size: 10px;
                  color: white;
                }
                .black-wrap {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    -180deg,
                    rgba(0, 0, 0, 0) 2%,
                    rgba(0, 0, 0, 0) 70%,
                    rgba(0, 0, 0, 0.5) 100%
                  );
                }
              }
            }
          }
        }
        .main-bot {
          // background-color: yellow;
          margin-top: 20px;
          width: 100%;
          height: 255px;
          border-bottom: 2px solid whitesmoke;
          .bot-container {
            @include flex(column, space-between, center);
            height: 100%;
            .header-container {
              width: 100%;
              @include flex(row, space-between, flex-start);
              .span-info2 {
                font-size: 20px;
              }
              .header-right {
                @include flex(column, flex-start, flex-end);
                .average-rate {
                  font-size: 17px;
                }
                .average-people {
                  margin-top: 7px;
                  font-size: 12px;
                  color: grey;
                }
              }
            }
            .graph-container {
              width: 100%;
              height: 135px;
              // background: lime;
              @include flex(row, center, flex-start);
              .graph-float {
                .graphs {
                  @include flex(row, center, flex-end);
                  .graph {
                    position: relative;
                    margin-left: 5px;
                    background: brown;
                    width: 35px;
                    height: 88px;
                    .numbering {
                      color: #362d24;
                      font-size: 11px;
                      position: absolute;
                      bottom: -18px;
                      left: 15px;
                    }
                  }
                  .graph-0 {
                    background: #ccac8c;
                    height: 9px;
                  }
                  .graph-1 {
                    background: #ccac8c;
                    height: 18px;
                  }
                  .graph-2 {
                    background: #ccac8c;
                    height: 27px;
                  }
                  .graph-3 {
                    background: #ccac8c;
                    height: 36px;
                  }
                  .graph-4 {
                    background: #ccac8c;
                    height: 45px;
                  }
                  .graph-5 {
                    background: #ccac8c;
                    height: 52px;
                  }
                  .graph-6 {
                    background: #ccac8c;
                    height: 60px;
                  }
                  .graph-7 {
                    background: #ccac8c;
                    height: 68px;
                  }
                  .graph-8 {
                    background: #ccac8c;
                    height: 72px;
                  }
                  .graph-9 {
                    background: #ccac8c;
                    height: 79px;
                  }
                  .graph-10 {
                    background: $color-main;
                    height: 85px;
                  }
                }
              }
            }
          }
        }
        .comment-section {
          margin-top: 25px;
          border-bottom: 2px solid whitesmoke;
          .comment-container {
            width: 100%;
            // height: 388px;
            @include flex(column, flex-start, space-between);
            .comment-header {
              @include flex(row, space-between, center);
              .comment-left {
                @include flex(row);
                .comment-name {
                  font-size: 20px;
                }
                .comment-number {
                  margin-left: 5px;
                  font-weight: 700;
                  font-size: 13px;
                  color: grey;
                }
              }
              .more-container {
                .more {
                  color: $color-main;
                  font-weight: 700;
                }
              }
            }
            .card-container {
              height: 339px;
              // background: lightyellow;
              @include flex(column, center, none);
              position: relative;
              .card-lists {
                @include flex(row, flex-start, center);
                &:hover .go-left {
                  opacity: 0;
                }
                &:hover .go-right {
                  opacity: 0;
                }
                .go-left {
                  z-index: 1;
                  position: absolute;
                  top: 150px;
                  left: 10px;
                  font-size: 30px;
                  opacity: 1;
                }
                .go-right {
                  z-index: 1;
                  position: absolute;
                  top: 150px;
                  right: 10px;
                  font-size: 30px;
                  opacity: 1;
                }

                .comment-card {
                  margin-right: 10px;
                  padding: 0 12px;
                  // height: 100%;
                  width: 295px;
                  background: #f2f2f2;
                  border-radius: 15px;
                  .card-top {
                    padding-top: 3px;
                    height: 56px;
                    // background: lightgreen;
                    border-bottom: 2px solid #e5e5e5;
                    @include flex(row, space-between, center);
                    .top-face {
                      @include flex(row, flex-start, center);
                      .img-container {
                        width: 30px;
                        height: 30px;
                        .top-face-img {
                          border-radius: 15px;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }
                      }
                      .top-name {
                        margin-left: 10px;
                      }
                    }
                    .top-rating {
                      padding: 5px;
                      text-align: center;
                      font-size: 10px;
                      background: white;
                      border-radius: 5px;
                      color: $color-main;
                    }
                  }
                  .card-mid {
                    border-bottom: 2px solid #e5e5e5;
                    height: 120px;
                    width: 270px;
                    // background: yellow;
                    .mid-words {
                      height: 100%;
                      padding: 15px 0;
                      white-space: pre-wrap;
                      word-break: break-all;
                      font-size: 15px;
                      cursor: pointer;
                      // space
                    }
                  }
                  .card-bot {
                    font-size: 15px;
                    padding: 15px 0;
                    border-bottom: 2px solid #e5e5e5;
                    @include flex(row, flex-start, center);
                    .bot-em {
                      margin: 0 20px 1px 5px;
                      font-size: 13px;
                    }
                  }
                  .card-likes {
                    padding: 15px 0;
                    .likes {
                      font-size: 15px;
                      color: $color-main;
                      font-weight: 700;
                      border: none;
                      background: none;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
        .recommend-section {
          margin-top: 25px;
          height: 293px;
          border-bottom: 2px solid whitesmoke;
          .mid-container {
            @include flex(column, flex-start, flex-start);
            .gallery-head {
              font-size: 20px;
              margin-bottom: 15px;
            }
            .gallery {
              @include flex(row, flex-start);
              .gallery-container {
                display: grid;
                grid-template-columns: repeat(2, auto [col-start]);
                grid-template-rows: repeat(2, auto [row-start]);
                column-gap: 5px;
                row-gap: 5px;
                position: relative;
                width: 140px;
                height: 230px;
                margin-right: 10px;
                padding: 3px;
                background: #e5e5e5;
                border: 1px solid lightgrey;
                border-radius: 5px;
                .gallery-image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px;
                }
                .coffee-info {
                  @include flex(row);
                  position: absolute;
                  width: 100%;
                  bottom: 10px;
                  left: 0;
                  font-size: 10px;
                  color: white;
                }
                .black-wrap {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    -180deg,
                    rgba(0, 0, 0, 0) 2%,
                    rgba(0, 0, 0, 0) 70%,
                    rgba(0, 0, 0, 0.5) 100%
                  );
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 960px) {
        .main-side {
          display: none;
        }
      }
      .main-side {
        margin-left: 30px;
        padding: 25px;
        width: 320px;
        height: auto;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 5px;
        .side-top {
          font-size: 20px;
          // background: yellow;
          margin-bottom: 15px;
        }
        .side-mid {
          position: relative;
          overflow: hidden;
          height: auto;
          @include flex(row, flex-start, flex-start);
          .interior {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
          .dark-wrap {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
              -180deg,
              rgba(0, 0, 0, 0.1) 2%,
              rgba(0, 0, 0, 0.2) 70%,
              rgba(0, 0, 0, 0.5) 100%
            );
          }
        }
      }
    }
  }
}
