@import '../../../styles/common.scss';

.main-side {
  @include wh(320px, auto);
  margin-left: 30px;
  padding: 25px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;

  .side-top {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .side-mid {
    @include flex(row, flex-start, flex-start);
    position: relative;
    height: auto;
    overflow: hidden;

    .interior {
      @include wh(100%, 100%);
      object-fit: cover;
    }
    .dark-wrap {
      @include wh(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(0, 0, 0, 0.2) 70%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }
}
